html{
	background-color: lightpink;
}
*{
	border:0;
	font-family: 'Birthstone', cursive;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align: baseline;
	
}

h1{
	
	font-size: 4em!important;
	text-align: center;

}

h4{
	text-align:center;
	margin-top: 0px!important;
}


h5{
	padding-left: 10px;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	padding-bottom: 5px;
}
p{
	margin-bottom: 20px;
	font-size: 1.5em;
}
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;

}
nav.nav-center ul li a {
    display: inline-block;
	padding: 0 22px;
	font-size: 2em;
}

nav.nav-alt ul{
	text-align: center;
}
nav.nav-alt ul li {
    display: inline;
    float: none;

}
nav.nav-alt ul li a{
	display: inline-block;
	padding: 0 8px;
	font-size: 1.1em;
}
header {
	padding-bottom:20px!important;
}


img{
	
	position: relative;
	border-radius: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.price{
    padding-left: 10px;
}


.button{
	padding-left: 10px;
	display: inline;
	
	
}


label{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
}

.btn-small{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



a.waves-effect.waves-light.btn-small{
	
  margin-left: auto;
  margin-right: auto;
  display:block;
  border-radius: 100px;

}

.item-bottom{
	padding-bottom: 5px;
}

.product{
	list-style-position:inside;
	border: 4px solid #ee6e73;
	border-radius: 29px;
	background-color: lightyellow;
}

footer{
	text-align: center;
	color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}